/*table setting*/
table td th{
    border: 1px solid black;
}
.border {
    border-collapse: separate;
}

/*list setting*/
.id-column {
    width: 20%;
    text-align: center;
}
.owner-column {
    width: 10%;
    text-align: center;
}
.body-column {
    width: 35%;
    text-align: left;
    padding: 5px;
}
.category-column {
    width: 15%;
    text-align: center;
}
.status-column {
    width: 10%;
    text-align: center;
}

/*title setting*/
.id-head {
    width: 280px;
    text-align: center;
}
.owner-head {
    width: 100px;
    text-align: center;
}
.body-head {
    width: 460px;
    text-align: center;
}
.category-head {
    width: 210px;
    text-align: center;
}
.status-head {
    width: 120px;
    text-align: center;
}